* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background-color: #000000;
    background-image: url("assets/fundo.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: #ff0000;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 80px;
}

.img-malbec {
    max-width: 100%;
    display: block;
    height: auto;
    margin-right: auto;
}